*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background{
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -20;
}



.login-Container,
.signup-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid rgba(110, 148, 205, 1);
  border-radius: 15px;
  /* background-color: rgba(254,74,253,0.1); */
  background-color: transparent;
  height: 20rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-Container{
  display: none;
}

h1{
  font-size: 36px;
  background-image: linear-gradient(to right,rgb(77, 203, 207), rgb(231, 47, 182));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  min-width: 100px;
  margin-bottom: 20px;
}



.login-Container h1,
.signup-Container h1{
  text-align: center;
}

#login-Form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.signupLink{
  color: white;
  font-size: 14px;
  margin-top: 15px;
}

.signupLink button{
  background-image: linear-gradient(to right,rgb(77, 203, 207), rgb(231, 47, 182));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  border: none;
  height: 30px;
  width: 60px;
  font-size: 16px;
}

.signupLink button:hover{
  background-image: linear-gradient(to right,rgb(77, 203, 207), rgb(77, 203, 207));
}

.inputField{
  height: 2.5rem;
  width: 15rem;
  background-color: rgba(109, 49, 147,0.3);
  border-radius: 10px;
  text-align: center;
  border: none;
  color: white;
  font-size: 16px;
  outline-color: rgba(110, 148, 205, 1);
}


.formBtn{
  height: 2.5rem;
  width: 7rem;
  border-radius: 8px;
  font-size: 20px;
  background-color: rgb(115, 136, 169);
  color: linear-gradient(red,blue,white);
  font-size: 20px;
  font-weight: bold;
}

.formBtn:hover{
  background-image: linear-gradient(to right,rgb(77, 203, 207), rgb(231, 47, 182));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  border: 1px solid rgba(109, 49, 147,0.6);
}